<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Albaco.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Albaco.My.MySettings>
            <setting name="IP" serializeAs="String">
                <value>104.131.131.243</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>albaco</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>catalogo</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>K4t4r1n4-</value>
            </setting>
            <setting name="Razon" serializeAs="String">
                <value />
            </setting>
            <setting name="RFC" serializeAs="String">
                <value />
            </setting>
            <setting name="Terminal" serializeAs="String">
                <value />
            </setting>
        </Albaco.My.MySettings>
    </userSettings>
</configuration>
